.container {
    position: absolute;
    top: 24px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.topPanelItemBg {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
    background-color: #f7d8a2;
    padding: 10px 17px;

    border-radius: 12px;
    width: 100px;
    height: 35px;
}
.topPanelItemText {
    color: #7f5d4a;
    font-family: "Roboto";
    font-weight: 700;
}
.topPanelItemTextAttempts {
    padding-right: 30px;
    justify-content: flex-end;
}
.topPanelIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
right: 5px;
}

.topPanelIconAttempts {
    left: 0px;
}
.plusIcon {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
}
.invisible {
    display: none;
}
